* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    //outline: 1px solid red;
}

// body {
//     width: 100%;
//     height: 100%;
// }

@import 'mixin';
@import 'variables';
@import "header";
@import 'footer';
@import 'country'